@model Frontend.Models.UserModel
@{
    ViewBag.Title = "GetUserFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUserFilter</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdFines)
        </th>
        <th></th>
    </tr>
        <tr>
            <td>
                @Html.DisplayFor(user => user.FIO)
            </td>
            <td>
                @Html.DisplayFor(user => user.Phone)
            </td>
            <td>
                @Html.DisplayFor(user => user.Adress)
            </td>
            <td>
                @Html.DisplayFor(user => user.IdFines)
            </td>
        </tr>
</table>
